*{
    box-sizing: border-box;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.col {            
    padding: 10px;
    background-color: #E7DAD8;      
    border: 1px solid grey;

    @media (min-width: 0px) {
        @for $i from 1 through 12 {
            &.col-#{$i} {
                flex-basis: calc(100% * #{$i} * 1/12);
            }
        }
    }

    @media (min-width: 576px) {
        @for $i from 1 through 12 {
            &.col-sm-#{$i} {
                flex-basis: calc(100% * #{$i} * 1/12);
            }
        }
    }

    @media (min-width: 768px) {
        @for $i from 1 through 12 {
            &.col-md-#{$i} {
                flex-basis: calc(100% * #{$i} * 1/12);
            }
        }
    }

}