html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background: beige;    
}


.container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 4px;
    object-fit: cover;
    &:hover{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6)
    }
    transition: box-shadow 0.2s ease-in-out;
}

.picture{
    // min-width: 250px;
    flex-basis: 33%;
    min-height: 250px;
    padding: 7px 10px;
    position: relative;
}

.mockup {
    position: absolute;
    width: 250px;
    height: 250px;
    background: linear-gradient(
        -90deg,
        rgb(236, 236, 236) 0%,
        rgb(236, 236, 236) 40%,
        rgb(232, 232, 232) 50%,
        rgb(236, 236, 236) 60%,
        rgb(236, 236, 236) 100%
    );
    background-repeat: repeat;
    background-size: 400% 200%;
    transition: opacity 2 ease-in; 
}

.fade-out {
    opacity: 0;
}

.no-js {
    display: none
}