.section {
    padding: 12px 32px;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    margin-bottom: 4px;
}

.title {
    font-weight: normal;
    margin: 4px 0 11px;
    font-size: 20px;
}

@media screen and (min-width: $screen-md-max-width) {
    .section {
        padding: 12px;
    }

    .title {
        font-size: 24px;
    }
}