@import "../../../assets/styles/utils/variables/base";

.badgeArea {
  margin-right: $spacing-xlg;
  align-items: center;
  cursor: pointer;

  img {
    width: 14px;
    height: 14px;
  }

  .badgeTitle {
    color: #666;
    padding-left: $grid-gutter-width;
    font-size: 14px;
  }
}
