section {
  height: 150px; }

.box {
  background-color: #e0cef7;
  border: 5px solid rebeccapurple; }

.box[style] {
  background-color: aliceblue;
  border: 5px solid steelblue; }

.float {
  float: left;
  width: 200px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid black;
  padding: 10px; }
