#box {
  background-color: #282852;
  border: 4px solid #141478;
  transition: background-color 1s, border 1s;
  width: 350px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px; }

.vertical {
  color: white;
  font: 32px "Arial"; }

.extra {
  width: 350px;
  height: 350px;
  margin-top: 10px;
  border: 4px solid #141478;
  text-align: center;
  padding: 20px; }
