.test {
  height: 100px;
  width: 100px;
  background-color: #cccccc;

  overflow: scroll;
}

.container {
  div {
    width: 500px;
    height: 500px;
  }

  section {
    width: 500px;
    height: 500px;
  }
}
