.parent {
  // width: 500px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(245, 153, 153);
}

.ellipsis_box {
  display: flex;
  max-width: 60%;
  // padding: 100px 200px;

  .label {
    display: inline;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.test {
  width: 120px;
  background-color: rosybrown;

  display: flex;
  flex-direction: column;
  max-width: 10%;
}

.test2 {
  display: flex;
  flex-direction: column;
  background-color: rgb(146, 143, 188);

  max-width: 10%;

  .name {
    display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; /* stylelint-disable-line property-no-vendor-prefix */
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
  }
}

.a_ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ul_element {
  margin: 0;
  padding: 16px 0;
  display: flex;
  font-size: 12px;
  color: #666;
  align-items: center;
  overflow: auto;
  max-width: 80%;
  flex-wrap: nowrap;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;

  .li_element {
    list-style-type: none;
    display: inline-block;
    align-items: center;
    flex-shrink: 0;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.ellipsis_box_ul {
  display: flex;
  max-width: 100%;

  .label_li {
    display: inline;
    // width: 100%;
    white-space: nowrap;
    // overflow: hidden;
    text-overflow: ellipsis;
  }

  .final {
    display: inline;
    // width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
