// css 主要注重在排版部分, 不重要的內容會放在 style


body {
    line-height: 1;
    height: 100vh;
    background: azure;
}

.container {
    display: flex;

    &.style {
        border: rgba(221, 124, 124, 0.753) 4px solid;
        margin: auto; // 為了讓container 好看
        max-width: 50%;
        width: 50vw;
        height: 90vh;
    }
}

.block {

    &.center{
        align-self: center;
        margin: 0 auto;
    }

    &.style{
        background-color: rgb(177, 130, 240);
        width: 15vh;
        height: 15vh;
    }
}