// css 主要注重在排版部分, 不重要的內容會放在 style

body {
    line-height: 1;
    height: 100vh;
    background: azure;
}

.container {
    position: relative;

    &.style{
        border: rgba(221, 124, 124, 0.753) 4px solid;
        max-width: 50%;
        width: 50vh;
        height: 90vh;
        margin: auto;
    }
}

.block {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0; 
    left: 0; 
    right: 0;  

    &.style{
        width: 10vh;
        height: 10vh;
        background-color: rgb(177, 130, 240);
    }
}