.container {
  display: inline-block;
  position: relative;
  width: 50%;
}

.dummy {
  margin-top: 100%;
}

.element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: silver/* show me! */
}